@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    outline: none;
    font-family: 'Outfit', sans-serif;
    cursor: default;
}


.grid-container {
    display: grid;
}

.flex-container {
    display: flex;
}

#main {
    grid-template-columns: 230px 6fr;
    grid-template-rows: 170px 1fr;
    max-height: 100vh;
}

#header {
    grid-column: 2 / 3;
    padding: 14px 30px 14px 30px;
    flex-direction: column  ;
    background-color: #FDFDFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    position: relative;
}

#sidebar {
    height: 100vh;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-content: center;
    grid-template-rows: 3fr 2fr 2fr 2fr;
    background: linear-gradient(#393D3F, 85%,#5c6266);
    color: #FDFDFF;
}

#content {
    max-height: 100vh;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    overflow-y: scroll;
    grid-template-columns: 6fr 2fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 20px;
    padding: 20px;
    background-color: #f8fafb;
}

.section-tag {
    margin-bottom: 15px;
    /* border-top: 2px solid transparent;
    border-image: repeating-linear-gradient(90deg, #62929E, #546A7B) 30; */

}

/* header assets */

#header-top,
#header-bottom {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#picture {
    width: 40px;
}

#header-bottom {
    margin-top: 10px;
}

#search {
    flex: 4;
    padding: 10px;
    padding-left: 30px;
}

#search-icon {
    margin-right: 10px;
    align-self: center;
    transition: transform .2s ease-in-out;
}

#search-icon:hover {
    cursor: pointer;
    transform: scale(0.9);
}

#search-bar {
    padding: 10px;
    border: none;
    border-radius: 1rem;
    width: 90%;
    height: 100%;
    transition: 0.3s ease-in-out;
    background-color: #f3f8ff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#notif-settings {
    align-items: center;
    flex: 2;
    justify-content: end;
    gap: 20px;
    padding-right: 20px;
}

#greetings {
    grid-template-columns: 100px 3fr;
    grid-template-rows: 1fr 1.5fr; 
    align-items: center;
    flex: 2;
}

#picture-big {
    grid-row: 1 / 3;
    justify-self: end;
    width: 65px;
    margin-right: 1vw;
    align-self: flex-start;
}

#greet-hi {
    align-self: end;
}

#greet-details {
    align-items: center;
    gap: 10px;
}

#greet-details > h2 {
    font-size: max(1.1rem, 1.6vw);
    flex-shrink: 1;
}

#create-content {
    border-left: 1px solid #f2f7fe;
    flex: 1;
    justify-content: center;
    align-self: center;
}

#create-content > button {
    padding: 10px 20px 10px 20px; 
    border: 1px solid transparent;
    text-align: center;
    background-color: transparent;
    color: #393D3F;
    transition: 0.2s ease-in-out;
    letter-spacing: 0.05rem;
    font-size: 0.9rem;
    text-transform: uppercase;
}

#create-content > button:hover {
    /* border-bottom: 1px dotted #393d3f82; */
    color: #929da2;
    cursor: pointer;
}

#search-icon {
    width: 20px;
}

#bell-icon {
    width: 35px;
}

/* sidebar assets */

#dashboard-logo {
    align-items: center;
}

#dashboard-text {
    letter-spacing: 0.6rem;
    transition: 1s;
}

#dashboard-text:hover {
    letter-spacing: 0.4rem;
}

#higher-settings {
    grid-row: 5 / 6;
    margin-bottom: 20px;
}

.nav-icon {
    display: none;
}

ul {
    padding: 0;
    padding-bottom: 10px; 
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid transparent;
    transition: 0.3s;
}

ul:hover {
    cursor: pointer;
    border-bottom: 1px solid white;
}



/*  main content assets */

#auxi-bar {
    gap: 20px;
    grid-template-rows: 0.2fr 0.8fr;
}

/* announcement div */

#announcements-grid {
    padding: 20px 30px 30px 30px;
    gap: 20px;
    background-color: #FDFDFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
}
.announce-desc {
    font-weight: 300;
    color: #73787b;
    font-size: 15px;
}

.announce-title > h4 {
    font-weight: 500;
}

.announce-shown {
    border-bottom: 1px solid #a0abaf;
    padding-bottom: 20px;
    transition: 0.4s;
}

.announce-shown:hover {
    border-bottom: 1px solid #546A7B;
}
.last-shown {
    border-bottom: 1px solid transparent;
}

/* projects div */

#project-grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 2fr));
    column-gap: 14px;
    row-gap: 30px;
}

.project-cards {
    padding: 30px 20px 10px 20px;
    background-color: #FDFDFF;
    border: 1px solid transparent;
    border-radius: 0.4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.project-cards:hover {
    border: 1px solid #546A7B;
}

.card-buttons {
    align-items: center;
    justify-content: end;
    gap: 7px;
    border-top: 1px dashed #62929e82;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-title > h3{
    font-weight: 500;
}

.card-desc {
    font-weight: 300;
    margin-top: 3px;
    color: #73787b;
    font-size: 15px;
}


.interact-btns {
    transition: 0.3s;
}

.interact-btns:hover {
    cursor: pointer;
    transform: scale(1.06);
}

/* trending div */

#trending-grid {
    justify-content: start;
    padding: 30px 30px 20px 30px;
    background-color: #FDFDFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
}

.trending-proj-icon {
    width: 50px;
    margin-right:15px;
}

.trending-who > p {
    font-weight: 200;
    color: #73787b;
}

.trending-who > h4 {
    font-weight: 400;
}

.trending-projects {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.trending-handle:hover {
    cursor: pointer;
}